// app global css
@font-face
    font-family: Bebas
    src url(./fonts/BebasNeueRegular.woff)
@font-face
    font-family: BebasBold
    src url(./fonts/BebasNeueBold.woff)
@font-face
    font-family: SF
    src url(./fonts/SFUIDisplay-Regular.woff)
@font-face
    font-family: SF-Thin
    src url(./fonts/SFUIDisplay-Thin.woff)
@font-face
    font-family: SF-Bold
    src url(./fonts/SFUIDisplay-Bold.woff)